<% if @games %>
	<h2 class="score-header">Your Games</h2>
	<table class="scoreboard">
	  <thead>
	    <th>Last Saved</th>
	    <th>Score</th>
	    <th></th>
	  </thead>
	  <% @games.each do |game| %>
	  	<% if !game.game_over %>
		    <tr id="<%=game.id%>">
		      <td><%= game.updated_at.strftime("%m/%d/%y") %><br><%= game.updated_at.strftime("%T")%> </td>
		      <td><%= game.score %></td>
		      <td><a class="loadGame" data-gameID="<%= game.id %>">R</a></td>
		      <td><a class="deleteGame" data-gameID="<%= game.id %>">X</a></td>
		    </tr>
		  <% end %>
	  <% end %>
	</table>
<% end %>