<div class="container">
  <div class="heading">
    <h1 class="title">My Games</h1>
  </div>
  <h2>Active Games</h2>
  <table class="table">
    <thead>
      <tr>
        <td>Last played</td>
        <td>Score</td>
        <td>Load?</td>
      </tr>
    </thead>
    <tbody>
      <% @active_games.each do |game| %>
        <tr>
          <td><%= time_ago_in_words(game.updated_at) %> ago</td>
          <td><%= game.score ? game.score : "0" %></td>
          <td>Load!</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Completed Games</h2>
  <table class="table">
    <thead>
      <tr>
        <td>Time Completed</td>
        <td>Score</td>
        <td>Won?</td>
      </tr>
    </thead>
    <tbody>
      <% @completed_games.each do |game| %>
        <tr>
          <td><%= time_ago_in_words(game.updated_at) %> ago</td>
          <td><%= game.score ? game.score : "0" %></td>
          <td><%= game.won == true ? "yes!" : "no :(" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
